//常规
// @font-face{
//   font-family: 'pingFangSC-Regular';
//   src: url('~@/assets/fonts/font-family/simplified/PingFang Regular.ttf');
//   font-weight: normal;
//   font-style: normal;
// }
// //中黑体
// @font-face {
//   font-family: 'pingFangSC-Medium';
//   src: url('~@/assets/fonts/font-family/simplified/PingFang Medium.ttf');
//   font-weight: normal;
//   font-style: normal;
// }
// //细体
// @font-face{
//   font-family: 'pingFangSC-Light';
//   src: url('~@/assets/fonts/font-family/simplified/PingFang Light.ttf');
//   font-weight: normal;
//   font-style: normal;
// }
// //斜体
// @font-face{
//   font-family: 'PingFangSC-Bold';
//   src: url('~@/assets/fonts/font-family/simplified//PingFang Bold.ttf');
//   font-weight: normal;
//   font-style: normal;
// }
