
//重要 major font size
$navbarFont = 16px //页面顶部导航的标题，大控件按钮上的字等
$titleFont = 14px  //正文抬头标题，正文主要文字
$cardImportantFont=16px //卡片重要文字
//一般
$commonFont = 12px  //表单下副文本，详情中备注文字
//次要
$minorFont = 10px  //底部菜单栏图标下的状态

//组件行高度
$componentLineHeight=36px

$fontsize-large-xxxx = 30px
$fontsize-large-xxx = 24px
$fontsize-large-xx = 20px
$fontsize-large-x = 18px
$fontsize-large = 16px
$fontsize-medium-x=15px
$fontsize-medium = 14px
$fontsize-medium-s=13px
$fontsize-small = 12px
$fontsize-small-m=11px
$fontsize-small-s = 14px
$fontsize-small-pocket = 9px

$fontsize-card-title=14px
$fontsize-card-amount = 13px
//默认字体大小
$defaulFont = $fontsize-medium-s
//默#3A3A3A认填单字体大小
$defaultLineFont = $fontsize-medium

//主色basic color
$bBrandColor = #1469b5 //品牌色 顶部标题栏底色，重要按钮底色
$bBackgroundColor = #f6f6f6//用于所有界面背景色
$bCardColor = #ffffff //卡片、对话框、输入框底色
$bLineHeadColor = #3B74EE

// 黑白色调主色
$bBrandColorDark = #ffffff
$bBackgroudColorDark = #f6f6f6
$bColorDarkBackground = #2F54EB //品牌色 部分顶栏底色，重要按钮底色 原来为 #3A4A64
$bColorDarkChosedLine = rgba(122, 133, 151, 0.2)//选中行颜色，另用作键盘符号背景色

//黑白色调辅色
$darkStyleDefaultColor = #D0021B //用于删除按钮，文字


//辅色 auxiliary color
$aButtonColor = #d46670 //用于删除按钮、文字
$aUnselIconColor = #a7b5c2 //底部导航icon，未选中状态
$aDisabledColor = #d6dbe7 //不可点击按钮状态
$aCardCutLColor = #ededed //用于卡片列表中的分割线
$aBgCutLColor = #c3c8cd //用于底色为页面背景色的虚线分割
$aTagBackgroundColor = #2F54EB //用于书签新建状态的背景色
$aGrayBackGroundColor = #EEEEEE //用于标签背景色：如 审批中心意见填写区域背景色

//页面背景颜色
$pageBackgroundColor=#F2F2F2
//卡片背景颜色（浅灰色）
$cardBackgroundColor = #F5F5F5

//文字色 font color
$fTitleColor = #2B2B2B  //用于title信息，列表标题、重要文字等
$fMajorColor = #333333  //用于重要信息，如列表正文文字、重要字段描述文字
$fMinorColor = #4D4D4D  //用于次要信息，如列表次要描述字段
$fDescrColor = #B7BBC0  //用于备注信息，备注文本、次要文本
$fMinorTipColor = #8d97b5  //用于次要提示信息,如列表时间、单号描述字段
$fErrorTipColor = #d46670  //用于错误提示文字,如拒绝、删除、取消
$fNormalTipColor = #1469b5  //用于正常信息提示文字，如保存、提交、上一步、下一步
$fWhiteColor = #ffffff  //用于反白文字信息:如背景色为深色或主题色时，框内的文字
$fButtonColor=#30a5e0
$dBlueButtonColor = #5683C4 //用于按钮文字颜色：如弹窗按钮文字颜色
$fBlackColor = #000000 //用于黑色文字信息:如背景色为白色或主题色时，框内的文字
$importantFontColor = #4D4D4D //用于深色文字：如头文字颜色、卡片中单据类型颜色
$primaryFontColor = #364156 //主要文字信息：如卡片中单据的号码及金额
$lessImportantFontColor = #8E8E93 //次要文字信息：如卡片中单据信息颜色
$lightFontColor = #7A8597 //浅色文字信息：如弹窗中内容文字描述
$fgrayReadOnlyColor=#9e9e9ef7 //控制只读字段字体颜色
$forangeColor = #F7B500  //橘色文字颜色
$flightBlueColor = #54A6EF //淡蓝色文字颜色
$fdarkBlueColor = #3B74EE //深蓝色文字颜色
$fdescriptionColor = #6D7278 //用于card里面的标题右侧文字颜色：如 单据日期文字颜色
$fdescriptionColor = #9B9B9B //用于card里面的描述文字颜色
$ftextColor = #3A3A3A //用于副标题文字颜色
$fRedTextColor = #CF1212 //用于红颜色文字
$finforTextColor = #4AA3EF //用于提示性文字颜色：如 填写说明文字颜色
$fTabColor =#2F54EB //用于tab栏文字以及边框颜色
$lightDocumentNumberColor = #999999 // 用于浅色文字，如： 单据编号、备注
$darkDocumentTypeNameColor = #4A4A4A // 用于单据类型文字
$blueLinkTextColor = #3889FF //用于链接文字
$midleDarkDescriptionTextColor = #666666


//列表新增按钮color
$list-add-color=#2F54EB

//边框颜色
$tab-border-color-gray=#a6a6a6

$tab-slider-color = #1468b4

//按钮圆角统一为6px
$border-radius = 6px

//视图头高度
$tabHeight =  48px

//字体
$heiti = '黑体'