@import 'button.styl'
@import  '_variable.styl'
@import  'picture.styl'
@import 'animation.styl'
@import 'mixins.styl'
@import 'controls.styl'
@import 'common.styl'

* {
    touch-action: pan-y;
}
button
 font-family pingFangSC-Regular !important
input 
  font-family pingFangSC-Regular !important