
//表单
.au-form-style //表单整体
  height 135px
  width 375px
  padding-left 14px
  padding-right 14px
  .au-date-number //抬头日期/编号
    font-size 10px
    color #bd87b5
  .au-bill-type  //单据类型
    font-size 14px
    color #111111
  .au-minor-info  //次要信息
    font-size 12px
    color #666666
  .au-money .au-money-sign //金额 金额符号
    font-size 14px
  .au-money  //金额
    color #111111
  .au-money-sign  //金额符号
    color #bd97b5
  .au-static-tip //状态提示,对应icon颜色值
    font 12px
//消息列表
.au-message-style //整体
  height 100px
  width 356px
  .au-title-style //title
    font-size 14px
    color #111111
    height 27px
    line-height 27px
  .au-content-style //正文
    font-size 12px
    color #333333
  .au-readmessage-style //已读消息字段
    font-size 12px
    color #aa66aa
//弹窗
.au-popup-sign-style //加签窗口
  width 262px
  .au-header-sign-style 
    height 40px
  .au-bottom-style //底部按钮高度
    height 45px
.au-popup-invoice-style //发票类型、状态选择
  height 146px
  width 262px
  .au-bottom-style //底部按钮高度
    height 45px
.au-tip-style
  height 136px
  width 262px
  .au-bottom-style//底部按钮高度
    height 45px
.au-popup-reject-style//拒绝弹窗
  height 136px
  width 262px
   .au-bottom-style//底部按钮高度
    height 45px
.au-popup-version-style //版本更新窗口
  height 283px
  width 235px
  .au-bottom-style .au-top-style  //底部按钮
    height 40px
//弹窗通用
.au-status-tip //状态提示
  font-size 14px
.au-content-popup  //内容、正文
  font-size 12px
  color #333333
.au-unselected-word  //未选择(未填写)字段
  font-size 12px
  color #838698
.au-select-word    //已输入(已填写)字段
  color #333333
.au-button-word   //按钮文字
  font-size 14px
  color #30a5e0
.au-button-white  //反白按钮文字
  font-size 14px
  color #ffffff


//卡片
.au-card-style
  height 386px
  width 355px
  .au-top-one-style
    height 60px
  .au-top-two-style
    height 49px
  .au-imp-field  //重要、注释字段
    font-size 14px
    color #111111
  .au-title  //名称title
    font-size 12px
    color #666666
  .au-content //正文
    font-size 12px
    color #333333
//时间、地点控件
.au-date-style
  height 80px
  width 375px
  font-size 18px
  .au-unselected-word
    color #686e93
  .au-selected-word
    color #111111
.au-place-style
  width 375px
  height 60px
  .au-unselected-word//未选择字段
    color #686e93
  .au-selected-word //已选择字段
    color #111111
//搜索控件
.au-search-style
  width 375px
  height 50px
  .au-cancel   //取消
    font-size 14px
    color #1469b5
  .au-searchinfo-style
    height 30px
    width 312px
    .au-tip-word   //框内提示字段
      font-size 12px
      color #a9abba
.au-header-style //单据 头信息
  width 375px
  height 209px
  .au-doctype-style //title/单号
    height 32px
    font-size 14px
    color #111111
  .au-left-info  //次要注释
    font-size 14px
    color #a6a6a6
  .au-right-info  //重要信息
    font-size 14px
    color #333333
//键盘
.au-keyboard-style
  width 375px
  height 326px
  .au-result-style
    height 70px
  .au-key-style
    height 62px
    width 73px
  .au-affiem-style
    height 62px
    width 149px
  .au-exp-type   //左上角费用类型 和 右上角数字计算
    font-size 14px
    color #ffffff
  .au-amount  //右上角金额
    font-size 16px
    color #ffffff
  .au-number-key //数字按键 包括小数点
    font-size 18px
    color #111111
  .au-cny-sign  //金额符号
    font-size 18px
    color #1e3255
  .au-compute-sign  //计算符号，加减乘除
    font-size 18px
    color #666666
  .au-confirm    //ok 按钮
    font-size 24px
    color #ffffff

//底部弹出框
.au-line-choice-style
  height 234px
  width 375px
  .au-line-style
    height 45px
  .au-bottom-style
    height 49px
  .au-unselected-word   //未选中文字
    font-size 14px
    color #333333
  .au-selected-word  //选中文字
    font-size 14px
    color #1469b5
  .au-button-dark  //按钮 深色
    font-size 14px
    color #1469b5
  .au-button-white  //按钮 反白
    font-size 14px
    color #ffffff
//第一种卡片样式
.au-card-one-style
  .au-list-header-style
    height 32px
    font-size 14px
    color #111111
  .au-item-content-style
    height 353px
    width 94px
    margin 5px 10px
    &:last-child
      margin-bottom 10px
  .au-add-styel
    height 50px
    width 355px
    margin-top 5px
  .au-exp-type  //类型
    font-size 14px
    color #333333
  .au-amount-desc //金额描述
    font-size 14px
    color #111111
  .au-amount-sign //金额符号
    color #bd97b5
    font-size 14px
  .au-other-style  //其他样式
    font-size 12px
    color #999999
  
//第二种卡片样式
.au-card-two-style
    margin 5px
  .au-list-header-style //例:费用信息
    height 32px
    font-size 14px
    color #111111
  .au-item-content-style
    width 332px
  .au-line-number //类型/行号
    font-size 12px
    color #7d88aa
  .au-left-contentt //左边描述/副标题
    font-size 14px
    color #666666
  .au-right-content //右边单据内容 ，名称
    font-size 14px
    color #111111
.col-left-title //dialog弹窗中左边的标题描述
  color $importantFontColor
  font-size: $fontsize-medium-s
.col-right-content //dialog弹窗中内容文字描述
  color: $lightFontColor
  font-size: $fontsize-medium-s