//线性图标
.icon-selected  //底部导览栏,选中状态
  width 22px
  height 22px
  color #1469b5
  text-shadow: 2px 2px 2px #fff
.icon-unselected  // 底部导航栏，未选中状态
  color #a7b5c2
  width 22px
  height 22px
  text-shadow: 2px 2px 2px #fff
//应用图标
.application-picture
  height 80px
  width 80px
//功能选择图标
.fun-picture
  height 80px
  width 80px

//费用行icon
.icon-picture
  width 20px
  height 20px